In [1]:
# Activity 1

# Activity 1

*Introduction to SQL*

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql